/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caption:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

/* Custom scrollbar for the textarea */
.textarea-custom::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.textarea-custom::-webkit-scrollbar-track {
  background: transparent; /* Make track transparent */
}

.textarea-custom::-webkit-scrollbar-thumb {
  background: black; /* Black color for the scrollbar thumb */
  border-radius: 10px; /* Rounded edges for the scrollbar thumb */
  cursor: pointer;
}

.textarea-custom::-webkit-scrollbar-thumb:hover {
  background: #333; /* Darken thumb color on hover */
}

.black-disabled-btn:disabled {
  color: #444444 !important;
  border: 2px solid #444444 !important;
}

body {
  color: #14151a;
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
