/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caption:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

/* Custom scrollbar for the textarea */
.textarea-custom::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.textarea-custom::-webkit-scrollbar-track {
  background: transparent; /* Make track transparent */
}

.textarea-custom::-webkit-scrollbar-thumb {
  background: black; /* Black color for the scrollbar thumb */
  border-radius: 10px; /* Rounded edges for the scrollbar thumb */
  cursor: pointer;
}

.textarea-custom::-webkit-scrollbar-thumb:hover {
  background: #333; /* Darken thumb color on hover */
}

/* Custom styles for the message */
.custom-message-success {
  background-color: #d4edda; /* Light green */
  border-color: #c3e6cb; /* Green border */
  color: #155724; /* Dark green text */
}

.custom-message-error {
  background-color: #f8d7da; /* Light red */
  border-color: #f5c6cb; /* Red border */
  color: #721c24; /* Dark red text */
}

.custom-message-warning {
  background-color: #fff3cd; /* Light yellow */
  border-color: #ffeeba; /* Yellow border */
  color: #856404; /* Dark yellow text */
}

body {
  color: #14151a;
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
